{
  "users": [
    {
      "name": "guest",
      "password_hash": "84983c60f7daadc1cb8698621f802c0d9f9a3c3c295c810748fb048115c186ec",
      "tags": "administrator"
    },
    {
      "name": "synkerapi.dev",
      "password_hash": "f0c3e5be8f6c6fc9901e95a02145fc09dc0c268594356bab7cdf2f3c3fdca93b",
      "tags": "dev"
    },
    {
      "name": "synkerapi",
      "password_hash": "79E744A06FDEC707D168CF0941D11BC65E624E40AE317AA5252A868DC3A0D745",
      "tags": "prod"
    }
  ],
  "vhosts": [
    {
      "name": "/"
    },
     {
      "name": "/dev"
    }
  ],
  "permissions": [
    {
      "user": "guest",
      "vhost": "/",
      "configure": ".*",
      "write": ".*",
      "read": ".*"
    },
     {
      "user": "synkerapi.dev",
      "vhost": "/dev",
      "configure": ".*",
      "write": ".*",
      "read": ".*"
    }, {
      "user": "synkerapi",
      "vhost": "/",
      "configure": ".*",
      "write": ".*",
      "read": ".*"
    }
  ],
}