[
  {rabbit,
    [
        {default_vhost,<<"/">>},
        {default_user,<<"synker">>},
        {default_pass,<<"synker">>},
        {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
        {default_user_tags, [administrator]}
    ]
  },
  {rabbitmq_management, [
    {load_definitions, "/etc/rabbitmq/definitions.json"}
  ]}
].